# Ignore node_modules directory
node_modules/

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore generated type declaration files
*.d.ts

# Ignore npm-debug.log
npm-debug.log

# Ignore yarn-error.log
yarn-error.log

# Ignore .env files (containing environment-specific configurations)
.env

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Build
dist/

#package-lock.json
package-lock.json
